* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.container {
  margin: auto;
  width: 60%;
}

h2 {
  font-size: 40px;
}

.pay:hover {
  background-color: rgba(86, 173, 255, 0.716);
  color: white;
}
